* {
  margin: 0;
  padding: 0;
  font-family: "sans";
  font-size: 1rem;
  box-sizing: border-box;
}

:root {
  --cellSide: 50px;
  --bg-color: gray;
  --main-color: #555555;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.aliveCell {
  height: var(--cellSide);
  width: var(--cellSide);
  background-color: black;
  border: 1px var(--main-color) solid;
}

.deadCell {
  height: var(--cellSide);
  width: var(--cellSide);
  background-color: white;
  border: 1px var(--main-color) solid;
}

.gameGrid {
  display: grid;
}

.button {
  width: 120px;
  height: 40px;
}
button {
  background-color: #555555;
  border: none;
  border-radius: 8px;
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
}
