* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cellSide: 50px;
  --bg-color: gray;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.aliveCell {
  height: var(--cellSide);
  width: var(--cellSide);
  background-color: black;
  border: 1px white solid;
}

.deadCell {
  height: var(--cellSide);
  width: var(--cellSide);
  background-color: white;
  border: 1px black solid;
}

.gameGrid {
  display: grid;
}
